*{
    padding:0px;
    margin:0px;
}
.heads{
    margin-top:5px;
}

.menu{
    background-color:rgb(64, 160, 250);
}
.menuu{
    background-color: rgb(0, 183, 255);
}
ul li{
    list-style-type: none;
    display: inline;
    color:white;
    padding: 0 8.5px;
}
.arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color:gray;
    border-width: 0px 1px 1px 0px;
    transform: rotate(135deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  .arrow1 {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color:gray;
    border-width: 0px 1px 1px 0px;
    transform: rotate(-45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow1:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
.bg-color {
    background-color: white;
}

.culr{
    color:white;
}
    
.one{
    display:flex;
}
.two{
    display: flex;
    justify-content: center;
}
.three{
    display: flex;
    justify-content:end;
}
.four{
        font-size:100px;
}
.five{
    border-right:1px solid black;
}
.vl {
    border-left: 1px solid rgb(223, 226, 223);
    height: 20px;
    /* padding-top:5px; */
    color:white;
  }
  .seven{
    padding-left:90px;
}
@media screen and  (max-width: 576px) {
    .one{
        justify-content: center;
    }
    .two{
        justify-content:center;
    }
    .three{
        justify-content: center;
    }
    .four{
        font-size:50px;
        justify-content: end;
    }
 .five{
     border-right:none;
 }
 .six{
     padding-top:60px;
 }
}


@media screen and  (min-width: 576px) {
    .one{
        justify-content: start;
    }
    .two{
        justify-content: center;
        display:flex;
    }
    .three{
        justify-content: flex-end;
        display:flex;
    }
    .four{

        font-size:100px;
    }
   
    .five{
        border-right:1px solid black;
    }
    .seven{
        padding-left:60px;
    }
}
